@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="color: #E7DFDD">@ViewData["Title"]</h1style="color:>
<p style="color: #E7DFDD">
    Please check your email to reset your password.
</p>

