@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger"style="color: #E7DFDD">@ViewData["Title"]</h1>
    <p class="text-danger"style="color: #E7DFDD">This account has been locked out, please try again later.</p>
</header>
