@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="background-image: url( )"
<div class="text-center">
    <h1 class="display-4" style="color:black">Changing the mantra about keeping all your eggs in one basket</h1>
    <p style="color:black">Learn about <a href="https://docs.microsoft.com/aspnet/core"style="color: #4717F6">Asp.net</a>.</p>
    
</div>
