@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:black">Welcome to EggBasket</h1>
    <p style="color:black">Learn about <a href="https://docs.microsoft.com/aspnet/core"style="color: #4717F6">Asp.net</a>.</p>
    
</div>
