@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .backImage{
        position:relative;
        text-align:center;
        color:black;
    }

    .top-right{
        position:absolute;
        top:8px;
        right:16px;
    }

    p.spacing{
        line-height: 3.25;
    }
</style>
<div class="backImage">
    <img src ="~/Images/AdobeStockIndexBG.jpg" alt="EggBasket" style="width:100%; box-shadow:0 0 8px 8px black inset;" />
</div>

<div class="text-center">
    
    <p>
        <h1>Why put your eggs in one Basket?</h1>
    <p class="spacing">
        Here at EggBasket we want to ensure that your business is secured.
        With EggBasket you are able to implement structure into your business, projects, and security by
        having control of credential access. With the rise of cyber attacks, data breaches, social engineering
        and usage of unprotected networks, it is important to keep your information secure at all times. Learn how and why
        EggBasket is the right fit for your company.
    </p>
    </p>
</div>

<div class="col-sm-6">
<div style="margin-top:125px">
    <h2>Features</h2>
    <p>
        <h3>Credential Storing</h3>
        <p>EggBasket allows for users to safely share credentials. Rather then storing passwords in a sticky note, unsecured
        document, or out in the open in your work space.</p>
        <h3>Credential Sharing</h3>
        <p>EggBasket allows you to securily share credentials with employees.</p>
        <h3>Role Based Access</h3>
        <p>Allow organization in your company by giving access to certain branches in your organization.</p>
    </p>
</div>
</div>
