@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .backImage{
        position:relative;
        text-align:center;
        color:black;
    }

    .top-right{
        position:absolute;
        top:8px;
        right:16px;
    }
</style>
<div class="backImage">
    <img src ="~/Images/AdobeStock_344996823Blur.jpg" alt="EggBasket" style="width:100%; box-shadow:0 0 8px 8px black inset;" />
    <div class="top-right">Changing the mantra about keeping all your eggs in one basket</div>
</div>

<div class="text-center">

    
    
    </div>
