@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

    <h1 class="display-4"><img src="/Images/AdobeStock_344996823.jpeg" style="width:100%; height:500px;"/>Changing the mantra about keeping all your eggs in one basket</h1>
    <p style="color:black">Learn about <a href="https://docs.microsoft.com/aspnet/core"style="color: #4717F6">Asp.net</a>.</p>
    
    </div>
