@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Git initial test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">HELLO</a>.</p>
    
        <form method="POST">
            <button type="submit">Generate Password</button>  <!-- Self-explanatory, but likely a better way to do this -->
        </form>
    
    <p>@ViewData["GeneratedPassword"]</p>
</div>
