@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="WordSection1">

    <p class="MsoNormal"><b>Privacy Policy<o:p></o:p></b></p>

    <p class="MsoNormal">
        <span class="SpellE">EggBasket</span> provides a secure
        credential service for businesses. “<span class="SpellE">EggBasket</span>”, “we”,
        “us”, or “our” refers to <span class="SpellE">EggBasket</span>. <span class="SpellE">EggBasket</span> involves any administrators, developers,
        employees, and other applications allowing for <span class="SpellE">EggBasket</span>
        to provide a successful service.
    </p>

    <p class="MsoNormal">
        We reserve the right to change this policy at an any given
        time, of which you will be promptly updated. If you want to make sure that you
        are up to date with the latest changes, we advise you to frequently visit this
        page.
    </p>

    <p class="MsoNormal">
        This Privacy Policy applies whenever you use any of our
        products, services, content, or any other domains provided by <span class="SpellE">EggBasket</span>. This Privacy Policy describes:
    </p>

    <p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->What information we collect
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->Why we collect your information
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->How we use that information
    </p>

    <p class="MsoListParagraphCxSpLast"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal"><b>Information we collect<o:p></o:p></b></p>

    <p class="MsoNormal">Information you provide us directly:</p>

    <p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->Your username, password, e-mail address and
        phone number when you register.
    </p>

    <p class="MsoListParagraphCxSpLast" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->Profile information that you provide for your
        user profile such as first and last name so yourself and other can identify
        you.
    </p>

    <p class="MsoNormal">Information that is gathered automatically:</p>

    <p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->Usage data is collected automatically such as
        your device’s IP address
    </p>

    <p class="MsoListParagraphCxSpLast" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->When accessing our service through a mobile
        device we may collect the following data: type of mobile device, mobile device
        unique ID and/or IP, operating system
    </p>

    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal"><b>Purpose for collected Data<o:p></o:p></b></p>

    <p class="MsoNormal">We collect your data for several reasons:</p>

    <p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->Help you better secure your account using
        two-factor authentication
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->To better understand your needs
    </p>

    <p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->To improve our services and products
    </p>

    <p class="MsoListParagraphCxSpLast"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal"><b>How we protect your information<o:p></o:p></b></p>

    <p class="MsoNormal" style="text-align:justify">
        <span class="SpellE">EggBasket</span>
        is committed to securing your data and keeping it confidential. <span class="SpellE">EggBasket</span> has done all in its power to prevent data theft,
        unauthorized access, and disclosure by implementing<span style="mso-spacerun:yes">&nbsp; </span>the latest technologies and software, which
        help us safeguard all the information we collect online.
    </p>

    <p class="MsoNormal" style="text-align:justify"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal" style="text-align:justify"><b>Third Parties<o:p></o:p></b></p>

    <p class="MsoNormal" style="text-align:justify">
        <span style="mso-bidi-font-family:
Calibri;mso-bidi-theme-font:minor-latin">
            Our privacy policy does not apply to information
            gathered by third parties. This privacy policy does not apply to these
            third-party websites or applications that are accessible<span style="mso-spacerun:yes">&nbsp; </span>from, or referenced on, our websites. Make
            sure to read the privacy policy documentation of the website you go to from our
            website.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal"><b>Children Under the Age of 13<o:p></o:p></b></p>

    <p class="MsoNormal">
        Our website is not intended for children under the age of 13
        years. Knowingly, we do not collect information from children under 13 years of
        age. If you are 13, please do not provide any personal information to our
        website.
    </p>

    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

    <p class="MsoNormal"><b>Contact Us<o:p></o:p></b></p>

    <p class="MsoNormal">
        If you have any questions about this Privacy Policy, you can
        contact us:
    </p>

    <p class="MsoListParagraph" style="text-indent:-.25in;mso-list:l1 level1 lfo1">
        <!--[if !supportLists]--><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:Calibri;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri">
            <span style="mso-list:Ignore">
                -<span style="font:7.0pt &quot;Times New Roman&quot;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </span>
        </span><!--[endif]-->By visiting this page on our website:
        https://www.eggbasket.com.privacypolicy
    </p>

    <p class="MsoNormal"><o:p>&nbsp;</o:p></p>

</div>
